.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    height: 350px;
    -webkit-transition: .4s ease-in-out left;
    -o-transition: .4s ease-in-out left;
    transition: .4s ease-in-out left;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.carousel-next {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .4s ease-in-out;
        -o-transition: -o-transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next, .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e0e0e0;
    top: 160px;
    z-index: 3;
}

.carousel-control.left {
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control:hover, .carousel-control:focus {
    background: #22a24f;
}

.carousel-control span{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.carousel-control.left .normal {
    background: url("../img/arrow-left.png") no-repeat;
}

.carousel-control.right .normal {
    background: url("../img/arrow-right.png") no-repeat;
}

.carousel-control.left .hover {
    background: url("../img/arrow-left-hover.png") #22a24f no-repeat;
    opacity: 0;
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.right .hover {
    background: url("../img/arrow-right-hover.png") #22a24f no-repeat;
    opacity: 0;
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.left .hover:hover,
.carousel-control.right .hover:hover {
    opacity: 1;
}

.carousel-indicators {
    list-style: none;
    text-align: center;
    font-size: 0;
    margin-top: 20px;
    padding: 0;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #e0e0e0;
    -webkit-transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-indicators .active,
.carousel-indicators li:hover,
.carousel-indicators li:active {
    background: #22a24f;

}

.slider-counter {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0 10px;
    height: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 999;
}