.custom-footer {
    height: 260px;
    background-color: #f6f6f6;
    text-align: center;
}

.call-us,
.mail-us {
    display: inline-block;
    width: 226px;
    text-align: left;
    margin-top: 70px;
    
}

.call-us h2,
.mail-us h2 {
    line-height: 30px;
    margin-button: 36px;
}