.clearfix:after, .row:after, .container:after {
	content: "";
	display: table;
	clear: both;
}

.main-conteiner {
	max-width: 1280px;
	margin: 0 auto;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.empty-col {
    height: 10px;
}

.row {
	position: relative;
	margin: 0 -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position:relative;
	float:left;
	padding: 0 15px;
}
.col-1 {
	width: 50px;
}
.col-2 {
	width: 130px;
}
.col-3 {
	width: 210px;
}
.col-4 {
	width: 290px;
}
.col-5 {
	width: 370px;
}
.col-6 {
	width: 450px;
}
.col-7 {
	width: 530px;
}
.col-8 {
	width: 610px;
}
.col-9 {
	width: 690px;
}
.col-10 {
	width: 770px;
}
.col-11 {
	width: 850px;
}
.col-12 {
	width: 930px;
}