.clearfix:after, .row:after, .container:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 930px;
	margin: 0 auto;
	padding: 55px 0;
}
.row {
	position: relative;
	margin: 0 -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position:relative;
	float:left;
	padding: 0 15px;
    min-height: 1px;
}
.col-1 {
	width: 80px;
}
.col-2 {
	width: 150px;
}
.col-3 {
	width: 240px;
}
.col-4 {
	width: 320px;
}
.col-5 {
	width: 400px;
}
.col-6 {
	width: 480px;
}
.col-7 {
	width: 560px;
}
.col-8 {
	width: 640px;
}
.col-9 {
	width: 720px;
}
.col-10 {
	width: 800px;
}
.col-11 {
	width: 880px;
}
.col-12 {
	width: 960px;
}