.main-page-container {
    height: 100vh;
    min-height: 600px;
    min-width: 980px;
    padding-bottom: 70px;
}

.main-bg {
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    text-align: center;
}

.logo-left {
    display: block;
    float: left;
    margin: 25px 0 0 30px;
    position: relative;
    z-index: 5001;
}

.menu-right {
    position: relative;
    display: block;
    float: right;
    margin: 25px 30px 0 0;
    text-decoration: none;
}

.menu-right:hover {
    color: #fff;
}

.menu-right .menu-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.menu-right .navicon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 18px;
    height: 14px;
    background: url('../img/icon_menu.png');
    transition: background .15s linear;
}

.menu-right:hover .navicon {
    width: 18px;
    height: 14px;
    background: url('../img/icon_menu_hover.png');
}

.main-content {
    display: inline-block;
    vertical-align: middle;
}

.main-content h1 {
    font-size: 55px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    text-transform: none;
    letter-spacing: normal;
}

.main-content p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    margin: 5px 0 0 0;
}

.help-button {
    display: inline-block;
    padding: 14px 38px;
    margin: 65px 0 0 0;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background: #22a24f;
    border: 2px solid transparent;
    color: #fff;
    transition: background .15s ease-in-out;
}

.help-button:hover,
.help-button:focus {
    background: #1b9144;
    color: #fff;
}

.help-button:active {
    background: transparent;
    border: 2px solid #22a24f;
    color: #fff;
}

.bottom-menu-container {
    height: 70px;
}

.bottom-menu-container ul {
    margin: 0;
    text-align: center;
    list-style: none;
}

.bottom-menu-block li {
    width: 25%;
    height: 70px;
    float: left;
}

.bottom-menu-block li + li {
    border-left: 1px solid #000;
}

.bottom-menu-block li a {
    display: block;
    background: #1a1a1a;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: background .15s ease-in-out;
}

.bottom-menu-block li a:hover {
    background: #22a24f;
    color: #fff;
}

.top-menu-block {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    width: 25%;
    min-width: 320px;
    height: 100vh;
    min-height: 600px;
    font-size: 14px;
    color: #1a1a1a;
    background: rgba(244,244,244, .95);
    opacity: 0;
    transition: transform .2s ease-in-out,
                opacity .2s ease-in-out 50ms;
}

.top-menu-block.active {
    transform: translateX(0);
    opacity: 1;
    transition: transform .2s ease-in-out,
                opacity .2s ease-in-out 50ms;
}

.top-menu-block .menu-head .menu-lang {
    float: left;
    margin-top: 1px;
}

.top-menu-block .menu-head .menu-lang a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #1a1a1a;
    transition: color .15s ease-in-out;
}

.top-menu-block .menu-head .menu-lang span {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #22a24f;
}

.top-menu-block .menu-head {
    margin-top: 29px;
    padding: 0 30px;
    padding-right: 28px;
    transition: margin-top .15s ease-in-out;
}

.top-menu-block .menu-head.menu-fixed {
    margin-top: 17px;
}

.top-menu-block .menu-head .menu-lang a:hover {
    color: #22a24f;
}

.top-menu-block .menu-head .menu-lang * + * {
    margin-left: 10px;
}

.top-menu-block .menu-head .menu-close {
    display: block;
    float: right;
    text-decoration: none;
}

.top-menu-block .menu-head .menu-close .menu-close-text {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1a1a1a;
    padding-right: 10px;
}

.top-menu-block .menu-head .menu-close .menu-close-icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icon_menu_close.png);
    width: 14px;
    height: 14px;
    position: relative;
    transition: background .15s ease-in-out;
}

.top-menu-block .menu-head .menu-close:hover .menu-close-icon {
    background: url(../img/icon_menu_close_hover.png);
    width: 14px;
    height: 14px;
}

.top-menu-block .menu-head .menu-close .menu-close-icon .normal {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    /* Переход */
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease-in-out 0s;
}

.top-menu-block .menu-head .menu-close .menu-close-icon .hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Переход */
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease-in-out 0s;
}

.menu-close:hover .menu-close-icon .normal {
    opacity: 0 !important;
}

.menu-close:hover .menu-close-icon .hover {
    opacity: 1 !important;
}

.top-menu-block .menu-body {
    margin-top: 95px;
}

.top-menu-block .menu-nav {
    clear: both;
    margin: 0;
    padding: 0 30px;
}

.top-menu-block .menu-nav li {
    list-style: none;
    position: relative;
}

.top-menu-block .menu-nav li.active:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    display: block;
    width: 20px;
    height: 10px;
    background: #22a24f;
}

.top-menu-block .menu-nav li + li {
    margin-top: 30px;
}

.top-menu-block .menu-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #1a1a1a;
    border: none;
    transition: color .15s linear, border .15s linear;
    letter-spacing: 1px;
    -webkit-transition: color 0.3s ease-in-out 0s,
                        border 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s,
                border 0.3s ease-in-out 0s;
}

.top-menu-block .menu-nav li a:hover {
    color: #22a24f;
    border-bottom: 1px solid #22a24f;
}

.top-menu-block .menu-contact {
    margin: 30px 0 0 0;
    padding: 0 30px;
}

.top-menu-block .menu-contact a {
    text-decoration: none;
    color: #1a1a1a;
    transition: color .15s ease-in-out;
}

.top-menu-block .menu-contact a:hover {
    text-decoration: none;
    color: #22a24f;
}

.top-menu-block .menu-button {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #3a5898;
    padding: 26.5px;
    letter-spacing: 1px;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.top-menu-block .menu-button:hover {
    background: #466cbb;
}



.modal.fade {
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.modal.fade.in {
    opacity: 1;
}

.modal {
    outline: 0;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    /*background: rgba(224,224,224, 1);
*/}

.modal .modal-dialog {
    background: #e0e0e0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal .modal-dialog .modal-close .modal-close-text {
    position: absolute;
    top: 26px;
    right: 44px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
    padding-right: 10px;
}

.modal .modal-dialog .modal-close .modal-close-icon {
    position: absolute;
    top: 27px;
    right: 30px;
    background: url(../img/icon_menu_close.png);
    width: 14px;
    height: 14px;
    transition: background .15s ease-in-out;
}

.modal .modal-dialog .modal-close:hover .modal-close-icon {
    background: url(../img/icon_menu_close_hover.png);
    width: 14px;
    height: 14px;
}

.modal .modal-dialog .modal-body {

}