.modal {
    background: rgba(0,0,0, 0.9);
}
.modal .modal-block {
    width: 770px;
    margin: 0 auto;
    padding: 70px 0;
}
.modal .modal-block .modal-head {
    background: url('../img/modal-head-02.png');
    width: 770px;
    height: 340px;
    position: relative;
}
.modal .modal-block .modal-head .modal-close {
    display: block;
    float: right;
    margin: 20px 25px 0 0;
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal .modal-block .modal-head .modal-close .modal-close-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
}

.modal .modal-block .modal-head .modal-close:hover,
.modal .modal-block .modal-head .modal-close:active {
    opacity: 1;
}

.modal .modal-block .modal-head .modal-close .modal-close-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url('../img/icon-modal-close.png');
    width: 14px;
    height: 14px;
}
.modal .modal-block .modal-head h2 {
    position: absolute;
    color: #fff;
    left: 40px;
    bottom: 35px;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
}
.modal .modal-block .modal-body {
    background: #fff;
    padding: 40px 75px;
}
.modal .modal-block .modal-body p {
    padding: 0;
    margin: 30px 0 0 0;
}
.modal .modal-block .modal-link {
    background: #f6f6f6;
    text-align: center;
}
.modal .modal-block .modal-link a {
    display: inline-block;
    margin: 25px 0;
    font-size: 14px;
    font-weight: 500;
    color: #22a24f;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #22a24f;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal .modal-block .modal-link a:hover {
    border-bottom: 1px solid #1a8640;
    color: #1a8640;
}
