html {
    box-sizing: border-box;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

body {
    color:#616161;
    font:16px Roboto, Arial, Helvetica, sans-serif;
    background:#fff;
    width: 100%;
    overflow-x: hidden;
}


a {
    color:#616161;
    text-decoration: underline;
    -webkit-transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

a:hover {
    color: #22a24f;
}


h1,
h2,
h3,
h4,
h5,
ul,
p {
    padding: 0;
    margin: 35px 0;
}

h1 + .data,
h2 + .data,
h3 + .data {
    margin: -20px 0 0;
}

h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #1a1a1a;
    text-transform: uppercase;
    margin-top: 80px;
}

h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-transform: uppercase;
}

h3 {
    /*width: 340px;*/
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: #505050;
}

h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #616161;
}

h5 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #1a1a1a;
}

p {
    line-height: 25px;
}

.container h2:first-child {
    margin-top: -5px;
}

.el-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.margin-top-large {
    margin-top: 50px;
}

.data {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #616161;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header {
    position: relative;
    display: block;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
    height: 350px;
}

.header-bg-gui {
    background: #000 url(../img/header_bg_about.jpg) no-repeat;
    background-size: cover;
}

.header-bg-info-law {
    background: #000 url(../img/header_info-law.jpg) no-repeat;
    background-size: cover;
}

.header-bg-news {
    background: #000 url(../img/header_news.jpg) no-repeat;
    background-size: cover;
}

.header-bg-need-help {
    background: #000 url(../img/header-need-help.jpg) no-repeat;
    background-size: cover;
}

.header-bg-want-to-help {
    background: #000 url(../img/header-want-to-help.jpg) no-repeat;
    background-size: cover;
}

.header-bg-news-item {
    background: #000 url(../img/header-news-1.jpg) no-repeat;
    background-size: cover;
}

.brand {
    display: block;
    width: auto;
    height: 24px;
    float: left;
    margin-top: 26px;
    margin-left: 30px;
}

.brand div {
    position: relative;
}

.brand img {
position: absolute;
    width: 139px;
    height: 24px;
    /* Переход */
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.brand .hover {
    opacity: 0;
}

.brand:hover .normal {
    opacity: 0;
}

.brand:hover .hover {
    opacity: 1;
}

.brand span {
    display: none;
}

.header .header-menu-block .menu-block {
    height: 100%;
    width: 320px;
    position: absolute;
    top: 0;
    right: -320px;
    font-size: 14px;
    color: #1a1a1a;
    background: url(../img/menu-background.png);
    -webkit-transition: right .15s linear;
            transition: right .15s linear;
}

.header-menu-block:hover .menu-block {
    right: 0;
}

.header .header-menu-block .menu-block .menu-head .menu-lang {
    float: left;
}

.header .header-menu-block .menu-block .menu-head .menu-lang a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #1a1a1a;
    -webkit-transition: color .15s linear;
            transition: color .15s linear;
}


.header .header-menu-block .menu-block .menu-head {
    padding: 15px 30px 0 30px;
}

.header .header-menu-block .menu-block .menu-head .menu-lang a:hover {
    color: #22a24f;
}

.header .header-menu-block .menu-block .menu-head .menu-lang a + a {
    margin-left: 15px;
}

.header .header-menu-block .menu-block .menu-head .menu-close {
    display: block;
    float: right;
    text-decoration: none;
}

.header .header-menu-block .menu-block .menu-head .menu-close .menu-close-text {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    color: #1a1a1a;
}

.header .header-menu-block .menu-block .menu-head .menu-close .menu-close-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../img/icon_menu_close.png);
    width: 14px;
    height: 14px;
}

.header .header-menu-block .menu-block .menu-body {
    clear: both;
    margin-top: 10px;
    padding: 0 30px;
}

.header .header-menu-block .menu-block .menu-body li {
    list-style: none;
    position: relative;
}

.header .header-menu-block .menu-block .menu-body li.active:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    display: block;
    width: 20px;
    height: 10px;
    background: #22a24f;
}

.header .header-menu-block .menu-block .menu-body li + li {
    margin-top: 10px;
}

.header .header-menu-block .menu-block .menu-body li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #1a1a1a;
    border: none;
    -webkit-transition: color .15s linear, border .15s linear;
            transition: color .15s linear, border .15s linear;
}

.header .header-menu-block .menu-block .menu-body li a:hover {
    color: #22a24f;
    border-bottom: 1px solid #22a24f;
}

.header .header-menu-block .menu-block .menu-contact {
    margin-top: 10px;
    padding: 0 30px 15px 30px;
}

.header .header-menu-block .menu-block .menu-contact a {
    text-decoration: none;
    color: #1a1a1a;
    -webkit-transition: color .15s linear;
            transition: color .15s linear;
}

.header .header-menu-block .menu-block .menu-contact a:hover {
    text-decoration: none;
    color: #22a24f;
}

.header .header-menu-block .menu-block .menu-button {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #3a5898;
    padding: 20px;
    -webkit-transition: background .15s linear;
            transition: background .15s linear;
}

.header .header-menu-block .menu-block .menu-button:hover {
    background: #466cbb;
}

.header_menu {
    position: absolute;
    right: 30px;
    top: 29px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.header_menu:hover{
    color: #fff;
}

.menu_icon {
    display: inline-block;
    width: 18px;
    height: 14px;
    position: relative;
    top: 2px;
}

.menu_icon .normal {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    /* Переход */
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.menu_icon .hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Переход */
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.header_menu:hover > .menu_icon .normal {
    opacity: 0;
}

.header_menu:hover > .menu_icon .hover {
    opacity: 1;
}

.nav {
    display: block;
    background: #ffffff;
    height: 50px;
    border-bottom: 1px solid #dddddd;
}

.page_nav {
    text-align: center;
}

.page_nav ul{
    margin-top: 0;
}

.page_nav li {
    display: inline-block;
}

.page_nav li a {
    box-sizing: border-box;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    margin: 0 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    letter-spacing: 2px;
    /* Переход */
    -webkit-transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.page_nav .selected {
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    margin: 0 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    letter-spacing: 2px;
}

.page_nav li a:hover:not(.selected){
    border-bottom: 3px solid #22a24f;
    color: #22a24f;

}

.page_nav li a:hover:not(.selected) > a{
    color: #22a24f;
    text-decoration: none;
}

.fixnav {
    z-index: 998;
}

.fixed + * {
    margin-top: 50px !important;
}


.fix_menu {
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 17px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fixed .fix_menu {
    opacity: 1;
}

.fix_nav {
    position: relative;
}

.fix_menu:hover{
    color: #000;
    text-decoration: none;
}

.fix_menu:hover > .menu_icon .normal {
    opacity: 0;
}

.fix_menu:hover > .menu_icon .hover {
    opacity: 1;
}

.fix_menu:hover {
    text-decoration: none;
}

.fix_brand {
    opacity: 0;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    position: absolute;
    /* Переход */
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);

}

.fixed .fix_brand {
    opacity: 1;
}

.fix_brand img{
    position: absolute;
    width: 139px;
    height: 24px;
    top: 14px;
    left: 30px;
    /* Переход */
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fix_brand .hover {
    opacity: 0;
}

.fix_brand:hover {
    background: #22a24f;
}

.fix_brand:hover .normal {
    opacity: 0;
}

.fix_brand:hover .hover {
    opacity: 1;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed.static-menu {
    position: static;
}


.header_menu:hover{
    text-decoration: none;
}

.header_title {
    display: inline-block;
    text-align: center;
    width: 600px;
    vertical-align: middle;
}

.header_title.news-title {
    vertical-align: bottom;
    padding-bottom: 40px;
}

.header_title h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.header_title h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 10px;
}

.header_title p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header_title a {
    color: #fff;
    text-decoration: none; 
}

.type-view {
    font-size: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: #f6f6f6;
}

.type-view span > span {
    display: none;
}

.type-view span > * {
    display: inline-block;
    width: 32px;
    height: 19px;
    margin: 15px;
    opacity: 0.35;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.grid-view > * {
    background-image: url(../img/icon-grid-view.png);
}

.list-view > * {
    background-image: url(../img/icon-list-view.png);
}

.type-view span {
    opacity: 1;
}

.type-view .active a {
    display: none;
}

.type-view .active span {
    display: inline-block;
}

.type-view span a:hover {
    opacity: 1;
}

.type-view > a {
    display: inline-block;
    height: 48px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    line-height: 48px;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.info li {
    line-height: 25px;
    padding-bottom: 15px;
    padding-left: 48px;
    list-style: none;
    position: relative;
}

.info li::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #bdbdbd;
    position: absolute;
    top: 8px;
    left: 30px;
}

.cont-insert {
    margin: 40px 0;
}

.insert-heading {
    color: #616161;
    border-left: 3px solid #22a24f;
    padding-left: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.insert-photo {
    position: relative;
    border-left: 3px solid #22a24f;
    height: 210px;
    vertical-align: middle;
}

.insert-photo:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.insert-photo span {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #616161;
    padding: 0;
    margin-left: 80px;
    width: 360px;
    display: inline-block;
    vertical-align: middle;
}

.insert-photo img {
    position: absolute;
    right: 0;
    top: 0;
}

.insert-modal {
    width: 400px;
    margin: 65px 50px;
}

.news a{
    text-decoration: none;
}

.doc-cards {
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cards {
    margin-top: 60px;
    display: block;
}

.cards li{
    display: inline-block;
    width: 290px;
    margin-left: 41px;
    vertical-align: top;
    text-align: left;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cards li:first-child,
.cards li:nth-child(3n+1) {
    margin-left: 0;
}

.cards a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    outline: 0;
}

.cards span {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    display: block;
    padding-top: 15px;
    padding-bottom: 30px;
    -webkit-transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cards a:hover > span {
    color: #22a24f;
}

.cards a:hover > img {
    opacity: 0.9;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cards .little-img {
    display: none;
}

.s-cards {
    list-style: none;
    width: 640px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}

.cards-display-none {
    display: none;
}

.s-cards span {
    color: #000;
}

.s-cards img{
    margin-right: 30px;
    float: left;
}

.s-cards li{
    margin-top: 35px;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.s-cards a {
    display: block;
    min-height: 80px;
    outline: 0;
    text-decoration: none;
}

.s-cards a:hover > span {
    color: #22a24f;
}

.s-cards a:hover img {
    opacity: 0.9;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.s-cards .big-img {
    display: none;
}

.pub-list {
    line-height: 25px;
}

.pub-list ul {
    margin-bottom: 90px;
}

.pub-list li {
    min-width: 30px;
    list-style:none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.pub-list .selected{
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    padding: 3px 8px;
    background-color: #22a24f;
    color: #fff;
}

.pub-list li a{
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    display: inline-block;
    padding: 3px 8px;
    -webkit-transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);

}

.pub-list li a:hover {
    color: #22a24f;
}

.pub-all {
    text-align: center;
    margin: 20px 0;
}

.pub-all a{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #22a24f;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #22a24f;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.pub-all a:hover,
.pub-all a:focus {
    color: #000;
}

.activity {
    width: 930px;
    margin: 80px auto;
}

.activity ul{
    list-style: none;
}

.activity a{
    text-decoration: none;
}

.admins {
    width: 770px;
    text-align: left;
    margin: 0 auto;
    font-size: 0.01px;

}

.admin {
    width: 190px;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 98px;
    vertical-align: top;
}

.admin:first-child,
.admin:nth-child(3n+1) {
    margin-left: 0;
}

.admin > * {
    display: block;
}

.admin a {
    text-decoration: none;
}

.admin img {
    margin-bottom: 25px;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.admin a:hover > img {
    opacity: 0.8;
}

.admin span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    color: #000;
    line-height: 25px;
    -webkit-transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.admin a:hover > span {
    color: #22a24f;
}

.admin p {
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.admins-wrap {
    width: 100%;
    background-color: #f6f6f6;

}

.admins-wrap     h2 {
    text-align: center;
    padding: 70px 0;
    margin: 0;
}

.admin {
    text-align: left;
}

.activity h2,
.partners h2 {
    text-align: center;
}

.partners {
    width: 775px;
    margin: 80px auto;
}

.partner {
    display: inline-block;
    margin-bottom: 50px;
    vertical-align: top;
}

.partner:first-child,
.partner:nth-child(4n+1) {
    margin-left: 0;
}

.partner > * {
    display: block;
}

.partner a {
    display: block;
}

.bottom-block {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 65px;
    background-color: #f6f6f6;
    text-align: center;

}

.contact-us {
    margin: 45px auto;
    margin-bottom: 0;
    width: 720px;
    text-align: left;
}

.contact-us p{
    font-size: 20px;
}

.contact-us-left {
    width: 325px;
}

.contact-us-right {
    width: 245px;
}

.bottom-block h2{
    font-size: 29px;
    letter-spacing: 1px;
}

.bottom-description {
    padding-bottom: 50px;
    margin: auto;
    max-width: 600px;
    font-size: 16px;
}

.fb-button,
.order-button{
    display: block;
    width: 250px;
    height: 55px;
    line-height: 55px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    /* Переход */
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);

}

.fb-button{
    background-color: #3a5898;
}

.order-button{
    background-color: #22a24f;
}
.order-button:hover,
.order-button:focus,
.fb-button:hover,
.fb-button:focus {
    color: #fff;
    opacity: 0.8;
}


.footer {
    height: 70px;
    margin: 0 auto;
    background-color: #1a1a1a;
}

.footer:before,
.footer-logos,
.logo-school,
.logo-delta,
.copy {
    display: inline-block;
    vertical-align: middle;
    }

.fixfooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copy {
    color: #616161;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:  0px 0px 0px 20px;
    float: left;
    line-height: 70px;
    }

.footer-logos {
    margin-top: 18px;
    float: right;
    margin-right: 30px;
    }

.logo-delta {
    width: 58px;
    height: 11px;
    background-image: url(../img/logo_delta.png);
    }

.logo-school {
    width: 75px;
    height: 29px;
    background-image: url(../img/logo_school.png);
    margin-right: 30px;
    }

/* форма */

.forma {
    width: 400px;
    margin: 20px auto;
}

.form-tooltip {
    display: inline-block;
    width: 180px;
    height: 40px;
    position: absolute;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 14px;
    left: 107%;
    top: 0;
    color: #cfcfcf;
    font-size: 14px;
    line-height: 21px;
}


.form-input {
  float: right;
  background-color: #ededed;
  position: relative;
  width: 290px;
  min-height: 40px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1a1a1a;
  text-transform: uppercase;
  padding-left: 10px;
  -webkit-transition: border 200ms ease-in-out,
                      background 200ms ease-in-out;
  transition: border 200ms ease-in-out,
              background 200ms ease-in-out;
}

.without-label .form-input {
    margin-bottom: 20px;
}

textarea.form-input {
  line-height: 18px;
  padding-top: 10px;
  padding-right: 20px;
  max-width: 290px;
  height: 180px;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #22a24f;
  outline: none;
}

.form-input::-webkit-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input:-ms-placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input::-webkit-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input::-moz-placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input:-ms-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input::placeholder {
  color: #9e9e9e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.form-input:focus::-webkit-input-placeholder {
  color: #cfcfcf;
}

.form-input:focus:-ms-placeholder {
  color: #cfcfcf;
}



.form-input:focus::-webkit-input-placeholder {
  color: #cfcfcf;
}



.form-input:focus::-moz-placeholder {
  color: #cfcfcf;
}



.form-input:focus:-ms-input-placeholder {
  color: #cfcfcf;
}



.form-input:focus::placeholder {
  color: #cfcfcf;
}

/* Verified */
.verified {
    border-bottom: 1px solid #22a24f;
    box-shadow: inset 0px -1px 0px #22a24f;
    -webkit-transition: box-shadow 200ms ease-in-out,
                        border 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out,
                border 200ms ease-in-out;
}

/* Wrong Input */
/* Wrong Input */
.verified.wrong {
    border-bottom: 1px solid #f07d7d;
    box-shadow: inset 0px -1px 0px #f07d7d;
}

.verified:hover,
.verified:focus {
    border: 1px solid #22a24f;
    box-shadow: none;
}

/* End Input */

.error-tooltip {
    color: #f07d7d;
}

.select-cont {
    width: 290px;
    float: right;
    height: 40px;
    margin-bottom: 20px;
}

.label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
    position: relative;
    line-height: 40px;
}

/* стилизую кружок и квадрат alex-- */

.checkbox label,
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    padding-bottom: 24px;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.checkbox label:before,
.radio label:before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #c2c2c2;
    position: absolute;
    left: 0;
    top: 3px;
    -webkit-transition: border 200ms ease-in-out;
    transition: border 200ms ease-in-out;
}

.checkbox-approve {
    margin-left: 160px;
}

.radio label:after {
    content: "";
    opacity: 0;
    display: inline-block;
    background-color: #22a24f;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 4px;
    top: 7px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.radio label:before {
    border-radius: 16px;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type="radio"]:checked + label:after {
    opacity: 1;
}

input[type="checkbox"]:checked + label:before {
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    background-image: url(../img/checkbox-check.png);
    background-repeat: no-repeat;
    background-position: center;
}

label[for]:hover:before {
    border-color: #22a24f;
}

.label input[disabled],
.label textarea[disabled] {
    width: 290px;
    float: right;
    background: none;
    width: 290px;
    min-height: 40px;
    margin-bottom: 20px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
    text-transform: uppercase;  
}

.label textarea[disabled] {
    padding-left: 0;
    padding-right: 0;
    height: 85px;
}

form button {
    display: inline-block;
    padding: 14px 38px;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.4px;
    font-weight: 500;
    text-transform: uppercase;
    background: #22a24f;
    border: 2px solid transparent;
    color: #fff;
    -webkit-transition: background .15s ease-in-out;
            transition: background .15s ease-in-out;
    margin: 0;
    margin-left: 160px;
    margin-top: 20px; 
}

form button:hover,
form button:focus {
    background: #1b9144;
    color: #fff;
}

form button:active {
    background: transparent;
    border: 2px solid #22a24f;
    color: #22a24f;
}

/* форма end*/


/*------------Button Style--------------*/

.buttons {
    margin: 50px 0;
}

a.content-button {
    display: block;
    height: 60px;
    line-height: 58px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.b-green {
    background: #22a24f;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

a.b-green:hover,
a.b-green:focus {
    background: #1b9144;
}

a.b-green:active {
    background: transparent;
    color: #1b9144;
    border: 2px solid #22a24f;
    border-bottom: 5px solid #22a24f;
}

a.b-border {
    color: #1b9144;
    border: 2px solid #4caf51;
    -webkit-transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

a.b-border:hover,
a.b-border:focus {
    border-bottom: 5px solid #4caf51;
}

a.b-border:active {
    background: #22a24f;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 5px solid transparent;
}

.dark-bckgrnd {
    background: #000;
    margin: -15px;
    padding: 15px;
}

a.b-dark-bkgrnd {
    color: #fff;
    border: 2px solid #4caf51;
    -webkit-transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

a.b-dark-bkgrnd:hover,
a.b-dark-bkgrnd:focus {
    border-bottom: 5px solid #4caf51;
}

a.b-dark-bkgrnd:active {
    background: #22a24f;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 5px solid transparent;
}
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    height: 350px;
    -webkit-transition: .4s ease-in-out left;
    transition: .4s ease-in-out left;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.carousel-next {
    display: inline-block;
    position: absolute;
    width: 610px;
    height: 350px;
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next, .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e0e0e0;
    top: 160px;
    z-index: 3;
}

.carousel-control.left {
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control:hover,
.carousel-control:active,
.carousel-control:focus {
    background: #22a24f;
}

.carousel-control span{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.carousel-control.left .normal {
    background: url("../img/arrow-left.png") no-repeat;
}

.carousel-control.right .normal {
    background: url("../img/arrow-right.png") no-repeat;
}

.carousel-control.left .hover {
    opacity: 0;
    background: url("../img/arrow-left-hover.png") no-repeat;
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.right .hover {
    opacity: 0;
    background: url("../img/arrow-right-hover.png") no-repeat;
    -webkit-transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-control.left:hover .normal,
.carousel-control.left:focus .normal,
.carousel-control.right:hover .normal,
.carousel-control.right:focus .normal {
    opacity: 0;
}

.carousel-control.left:hover .hover,
.carousel-control.left:focus .hover,
.carousel-control.right:hover .hover,
.carousel-control.right:focus .hover {
    opacity: 1;
}

.carousel-indicators {
    list-style: none;
    text-align: center;
    font-size: 0;
    margin-top: 20px;
    padding: 0;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #e0e0e0;
    cursor: pointer;
    -webkit-transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.carousel-indicators .active,
.carousel-indicators li:hover,
.carousel-indicators li:focus {
    background: #22a24f;

}

.slider-counter {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0 10px;
    height: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 999;
}


.steps {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 0;
}

.box-step {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    font-size: 35px;
    line-height: 60px;
}

.ok-step {
    border: 2px solid transparent;
    background: #22a24f;
    color: #fff;
}

.current-step {
    border: 2px solid #22a24f;
    color: #22a24f;
}

.s-divider {
    position: relative;
    top: -11px;
    display: inline-block;
    width: 70px;
    height: 2px;
    background: #e0e0e0;
    margin: 0 20px;
}

.ok-divider {
    background: #22a24f;
}

.news {
    display: block;
    position: relative;
    margin: 80px 0;
    /*background-color: #f6f6f6;*/
}

.news a {
    color: #1a1a1a;
    display: inline-block;
    -webkit-transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: color 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.news-img {
    line-height: 0;
}

.news a:hover,
.news .col-12:hover .description-n,
.news-small li:hover .description-sm {
    color: #22a24f;
}

.news-small li .news-img,
.news .col-12 img  {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 20ц0ms ease-in-out;
}

.news-small li:hover .news-img,
.news .col-12:hover img {
    opacity: 0.8;
}


.news-small {
    padding: 0 15px;
}

.news-small li {
    display: inline-block;
    width: 290px;
    margin-left: 26px;
    vertical-align: top;
    text-align: left;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.news-small li:first-child,
.news-small li:nth-child(3n+1) {
    margin-left: 0;
}

.big-news-block {
    width: 930px;
    margin: 0 auto;
}

.news-text {
    display: block;
    box-sizing: border-box;
    width: 400px;
    border-top: 3px solid #22a24f;
    float: right;
    margin-left: 24PX;
}

.news-sm-text {
    min-height: 145px;
}

.news-micro {
    margin: 0;
}

.news-micro li{
    width: 290px;
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
    text-align: left;
}

.news-micro li:first-child,
.news-micro li:nth-child(3n+1) {
    margin-left: 0;
}

.news-micro-text {
    min-height: 184px;
    border-top: 2px solid #22a24f;
}


.video-news,
.img-to-video {
    position: relative;
    height: 100%;
    display: block;
}

.video-news:before,
.img-to-video:before {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    background-color: rgba(255,255,255,.85);
    background-image: url('../img/vnews-play-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.news-small li:hover .video-news:before {
    opacity: 1;
}

.img-to-video:before {
    opacity: 0.7;
}

.img-to-video:hover:before {
    opacity: 1;
}

.addition-pub-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
    line-height: 20px;
}

.date-publications-inside {
    display: inline-block;
}

.date-publications-inside:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #22a24f;
}

.news-share {
    display: block;
    text-align: right;
}

.news-share a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-top: 20px;
    opacity: 0.7;
    -webkit-transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.news-share a:hover,
.news-share a:focus {
    opacity: 1;
}

.news-share a.fb-news {
    background: url('../img/icon-fb.png');
}

.news-share a.tw-news {
    background: url('../img/icon-tw.png');
}

.news-share a.vk-news {
    background: url('../img/icon-vk.png');
}

.bottom-news:before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 3px;
    background: #22a24f;
    margin-bottom: 15px;
}

.next-news {
    text-align: right;
}

.e-mail {
    display: block;
}



.topic,
.days-ago,
.date,
.more-news {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0 12px 0;
}

.news .topic,
.news .more-news {
    color: #22a24f;
    font-weight: 700;
}

a.topic:hover {
    color: #1a1a1a;
}

.days-ago,
.date {
    color: #616161;
    font-weight: 400;
}

.more-news {
    display: block;
    width: 200px;
    margin: 0 auto;
    border-bottom: 2px solid #22a24f;
    letter-spacing: 2px;
    padding-bottom: 2px;
}

.description-n {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
}


.description-sm,
.description-micro {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}


#file-browse {
    display: none;
}

.file-browse-visible {
    margin-bottom: 20px;
    display: block;
    float: right;
    width: 290px;
    height: 130px;
    border: 2px dashed #e0e0e0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #e0e0e0;
    line-height: 25px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.fileb-link {
    border-bottom: 1px solid #e0e0e0;
}

.fileb-images {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    text-align: left;
    margin-top:20px;
    margin-bottom: 3px;
}

.file-browse-visible span.fileb-img {
    position: absolute;
    height: 32px;
    width: 32px;
    background: url(../img/file_browse.png) no-repeat center;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.file-browse-visible span.hover {
    background: url(../img/file_browse_ok.png) no-repeat center;
    opacity: 0;

}

.file-browse-visible:hover {
    border: 2px dashed #22a24f;
    color: #616161;
}

.file-browse-visible:hover span.hover {
    opacity: 1;
}

.file-browse-visible:hover .fileb-link {
    color: #22a24f;
    border-color: #22a24f;
    -webkit-transition:
        color 200ms ease-in-out,
        border-color 200ms ease-in-out;
    transition:
        color 200ms ease-in-out,
        border-color 200ms ease-in-out;
}

.added-files {
    margin-left: 160px;
}

.added-files.done-add {
    margin-top: -50px;
}



.file-added {
    display: inline-block;
    margin-bottom: 12px;
    color: #4b4b4b;
}

.file-delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_delete.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 3px;
    left: -3px;
    margin-left: 10px;
    -webkit-transition:
        opacity 200ms ease-in-out;
    transition:
        opacity 200ms ease-in-out;
}

.file-delete:hover {
    opacity: 0.5;
}

.container > .text-content:first-child {
    margin-top: 50px;
}

.f-contacts {
    width: 450px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
}

.f-phone {
    float: left;
}

.f-email {
    float: right;
    margin-right: 12px;
}


/* Text Class */

.text-center {
    text-align: center;
}

.text-20 {
    font-size: 20px;
}

.green-text {
    color: #22a24f;
}

.top-margin-20 {
    display: block;
    margin-top: 20px;
}

.top-margin-50 {
    display: block;
    margin-top: 50px;
}

.bottom-margin-50 {
    display: block;
    margin-bottom: 50px;
}

.bottom-margin-70 {
    margin-bottom: 70px;
}

.bottom-margin-120 {
    margin-bottom: 120px;
}


.link-convert {
    color: #22a24f;
    -webkit-transition:
        color 200ms ease-in-out;
    transition:
        color 200ms ease-in-out;
}

.link-convert:hover {
    color: #1C8641;
}

.goal-wrap {
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 85px;
    margin-bottom: 80px;
}

.goal {
    padding-top: 75px;
    width: 930px;
    margin: 0 auto;
    text-align: center;
}

.major-goal {
    margin-bottom: 75px;
}

.goal h3 {
    margin: 0 auto;
}

.goal img {
    display: inline-block;
    text-align: center;
}
