body {
    min-width:960px;
	margin:0 auto;
    color:#333;
    font:12px/14px Arial, Helvetica, sans-serif;
    background:#fff;
}
img {border-style:none;}
a {
    text-decoration:none;
    color:#000;
}
a:hover {text-decoration:underline;}
a:active {background:none;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}