
#wrapp {
    max-width: 610px;
	margin:0 auto;
	padding: 0 50px;
    color:#616161;
    font:16px Roboto, Arial, Helvetica, sans-serif;
    background:#fff;
	padding-bottom: 100px;
}

h1 {
	font-size: 45px;
	line-height: 60px;
	font-weight: 900;
	letter-spacing: 4px;
	color: #1a1a1a;
	text-transform: uppercase;
	margin: 50px 0;
}

h2 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #1a1a1a;
	text-transform: uppercase;
	margin: 50px 0;
}

h3 {
	width: 340px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	color: #1a1a1a;
	margin: 30px 0;
}

h4 {
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	color: #1a1a1a;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 30px 0 50px 0;
}

h5 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #616161;
	margin: 50px 0;
}
p {
	margin: 20px 0;
}

ul {
	padding-left:px;
}
li {
	color: #4b4b4b;
	width: 475px;
	line-height: 25px;
	margin: 15px 0;
	padding-left: 48px;
	list-style: none;
	background: url(../img/ul_marker.png) no-repeat 30px 10px;
	
}

a {
	color:#616161;
	text-decoration: underline;
}

a:hover {
	color: #22a24f;
}

.insert {
    width: 610px;
    margin:0 auto;
    color: #616161;
    font-size: 16px;
    font-family: Roboto, sans-serif;
	line-height: 25px;
	font-weight: 500;  
}

.insert_heading {
    width: 480px; 
    border-left: 3px solid #22a24f;
    padding-left: 30px;
    font-size: 20pt;
    font-family: Roboto, sans-serif;
    line-height: 30pt;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.insert_photo {
    max-width: 930px;
    margin:0 auto;
    border-left: 3px solid #22a24f;
    background: url(../img/insert_photo.jpg) no-repeat right;
    font-size: 20pt;
    font-family: Roboto, sans-serif;
    line-height: 30pt;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #616161;
    padding:70px 490px 70px 80px;
}



.facebook_block {
    height: 345px;
    background-color: #f6f6f6;
    font-family: Roboto, sans-serif;
    text-align: center;
    
}

.facebook_block h2 {
    padding-top: 70px;
    margin: auto;
}
    
.facebook_block h5 {
    padding: 50px;
    margin: auto;
}

.fb_button {
    width: 230px;
    background-color: #3a5898;
    margin: auto;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    padding: 13px 0;
}

.logo1 {
    width: 75px;
    height: 29px;
    background-image: url(../img/logo_school.png);
     margin-right: 30px;
}

.logo2 {
    width: 58px;
    height: 11px;
    background-image: url(../img/logo_delta.png);
    margin-right: 26px;
}

.copy {
    width: 1090px;
    height: 15px;
    margin: 0;
}

.footer h4 {
    color: #616161;
    margin:  0px 0px 0px 20px;
}

.footer {
    height: 100%;
    margin: 0 auto;
    background-color: #1a1a1a;    
}

.footer:before, .logo1, .logo2, .copy {
    display: inline-block;
    vertical-align: middle;
}

.footer:before {
    content: '';
    height: 70px;
    margin-left: -0.25em;
}
 