/*-------Reset-------*/
html {
	background: #f6f6f6;
}
body {
    min-width: 930px;
	max-width: 1280px;
	margin:0 auto;
    color:#333;
    font:12px Roboto, Arial, Helvetica, sans-serif;
    background:#fff;
}
img {border-style:none;}
a {
    text-decoration:none;
    color:#000;
}
a:hover {text-decoration:underline;}
a:active {background:none;}
input,
textarea,
select {
    font:100% Roboto, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
	margin: 0;
	padding: 0;
}

/*-------Custom Styles-------*/

h1 {
	font-size: 45px;
	line-height: 60px;
	font-weight: 900;
	letter-spacing: 4px;
	color: #1a1a1a;
	text-transform: uppercase;
	margin: 25px 0;
}

header {
	position: relative;
	display: block;
	height: 350px;
	background: #000 url(../img/header_bg_about.jpg) no-repeat center bottom;
	color: #ffffff;
}

.header_logo {
	display: block;
	width: 139px;
	height: 24px;
	position: absolute;
	left: 30px;
	top: 26px;
	background: url(../img/logo_header.png) no-repeat center center;
	/* Переход */
	-webkit-transition: background 0.3s ease 0s;
	-moz-transition: background 0.3s ease 0s;
	-o-transition: background 0.3s ease 0s;
	transition: background 0.3s ease 0s;
}

.header_logo:hover {
	background: url(../img/logo_header_hover.png) no-repeat center center;
}


.header_menu {
	position: absolute;
	right: 30px;
	top: 29px;
	padding-right: 27px;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: url(../img/icon_menu.png) no-repeat right center;
	/* Переход */
	-webkit-transition: background 0.3s ease 0s;
	-moz-transition: background 0.3s ease 0s;
	-o-transition: background 0.3s ease 0s;
	transition: background 0.3s ease 0s;
 
}

.header_menu:hover{
	text-decoration: none;
	background: url(../img/icon_menu_hover.png) no-repeat right center;
}

.header_title {
	display: block;
	text-align: center;
	padding-top: 113px;
	width: 600px;
	margin: auto auto;
}

.header_title h1 {
	color: #fff;
	margin: 0;
}

.header_title p {
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}


